/* html {
    scroll-behavior: smooth;
} */


.positioned {
    position: absolute;
    left: 50%;
    color: white;
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.positioned i {
    font-size: 2em;
}

#centered {
    top: 10%;
    transform: translate(-50%, 0);
}

#bottom {
    transform: translate(-50%, -100%);
}

/* .progress {
    background: rgba(131, 58, 180, 1);
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    height: 0.3rem;
    z-index: 10;
} */

.progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: rgba(131, 58, 180, 1) !important;
    /* background-color: #00adb5; */
    z-index: 999;
    transition: width 0.2s ease-out;
}

span.appear {
    opacity: 0;
    font-size: 0.8ch;
    display: block;
}

@supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
    .progress {
        animation: scroller 1s linear both;
        animation-timeline: scroll(root block);
    }

    span.appear {
        animation: appear 1s linear both;
        animation-timeline: view();
        animation-range: entry 0% exit -50vh;
    }
}

/* body p {
    display: block;
    clear: both;
    height: 30px;
}

body p:has(span) {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 7.5ch;
    font-weight: 700;
} */

/* body {
    overflow-x: hidden;
} */

@keyframes scroller {
    from {
        width: 0;
    }

    to {
        width: 100vw;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(100vw) skew(20deg);
    }

    to {
        opacity: 1;
        transform: translateX(0) skew(0);
    }
}

@media (min-height: 650px) {
    .positioned span {
        font-size: 3.5ch;
    }
}

@media (max-width: 599px) {
    .positioned span {
        font-size: 2.5rem;
    }

    body p:has(span) {
        font-size: 1.5rem;
    }
}