.company-group {
  position: relative;
  margin-bottom: 40px;
}

.company-roles {
  margin-left: 20px;
  position: relative;
}

.curve-line {
  position: absolute;
  left: -30px;
  top: 85px;
}

.role-item-wrapper {
  position: relative;
  margin-left: 20px; /* shifts jobs right for curve */
  padding-left: 20px;
}

.job-curve {
  position: absolute;
  left: -2.6rem;
  width: 20px;
  top: -1.01rem;

  /* top: 25px; */
  /* z-index: 0; */
}

.experience-container {
  /* max-width: 600px; */
  max-width: 500px;
  height: 100vh;
  margin: auto;
  padding: 30px 20px;
  font-family: "Segoe UI", sans-serif;
  align-items: center;
  align-content: center;
}

.experience-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.timeline {
  position: relative;
  margin-left: 20px;
  border-left: 2px solid #e3e5e6;
  padding-left: 20px;
}

.company-group.with-border .company-roles {
  border-left: 2px solid #e3e5e6;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 32px;
}

.timeline-icon {
  position: absolute;
  left: -37px;
  top: 0;
  width: 32px;
  height: 32px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.company-icon {
  width: 100%;
  height: 100%;
  /* width: 32px;
  height: 32px; */

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

/* Sample icons */
.novo {
  /* background-image: url("./../../../public/images/tgf.png"); */
  background-image: url("./../../../public/images/tgf.png");
  background-size: cover;
}

.postman {
  background-image: url("./../../../public/images/alp.png");
}

.timeline-content h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.timeline-content .date {
  font-size: 14px;
  color: gray;
  margin-top: 4px;
}

.verified-icon {
  color: #2ecc71;
  margin-left: 6px;
  vertical-align: middle;
}

.star-icon {
  color: #f39c12;
  margin-left: 6px;
  vertical-align: middle;
}

.faded {
  opacity: 0.4;
}
