* {
  /* box-sizing: border-box; */
  transition: background-color 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.left-bar ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.left-bar li {
  margin: 15px 0;
}

.right-bar .email {
  color: #8892b0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.left-bar a:hover,
.right-bar .email:hover {
  color: #64ffda;
}

.vertical-line {
  display: block;
  width: 1px;
  height: 90px;
  margin: 10px auto 0;
}

.left-bar {
  position: fixed;
  bottom: 0;
  left: 2.5%;
  z-index: 100;
  color: #8892b0;
}

.right-bar {
  position: fixed;
  bottom: 0;
  right: 2.5%;
  z-index: 100;
  color: #8892b0;
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-90);
}

.email-container .email {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #8892b0;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  transform: rotate(180deg);
}

.email-container .email:hover {
  color: #64ffda;
}

/* NAVBAR */

.navbar {
  position: fixed;
  height: 90px;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2 !important;
  align-items: center;
  overflow-x: clip;
  padding-top: 5px;
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(3px) !important;
  -webkit-backdrop-filter: blur(3px) !important;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  transition: color 0.3s ease, transform 0.3s ease;
}

