html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

/* //////////////// */
.App {
  text-align: center;
  /* width: 100vw; */
}

::selection {
  background: #f96353;
  color: #ffffff;
}

.greeting::selection,
.typing-text::selection {
  background: #f96353;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app {
  background-color: white;
  transition: background-color 1s ease, color 1s ease;
  color: #2a363b;
}

/* Dark Mode */
.app.dark {
  background-color: #222831;
  color: #00ADB5;
}